$color--text: #000000;

body {
  color: $color--text;
}

.button--more {
  display: none;
}

.social-navigation {
  display: none;
}

main {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  a[href ^= 'http']::after {
    content: ' (' attr(href) ') ';
  }
}

footer {
  padding-left: 0;
  text-align: left;
}
