{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
    <div class="container">
        {{ range sort .Paginator.Pages }}
        <article>
            <div class="subtitle is-6">{{ .Date.Format .Site.Params.DateFormat }}</div>
            <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h2>
            <div class="content">
                {{ .Summary | plainify | safeHTML }}
                {{ if .Truncated }}
                <a class="button is-link" href="{{ .Permalink }}">Read more
                    <span class="icon is-small">
                        <i class="fa fa-angle-double-right"></i>
                    </span>
                </a>
                {{ end }}
            </div>
            {{ if .Params.tags }}
            <div class="subtitle is-6 is-pulled-right">
                {{ partial "tags" .Params.tags }}
            </div>
            {{ end }}
        </article>
        {{ end }}
    </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
