@mixin hidden {
  display: none;
}

@mixin visuallyHidden {
  position: absolute !important; // stylelint-disable declaration-no-important
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
