<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }}</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ end }}

<meta name='description' content='{{ partial "data/description" . }}' />
<meta name="author" content="{{ .Site.Params.social.author }}" />
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css"b/>
{{- range .Site.Params.Assets.customCSS -}}
<link rel='stylesheet' href='{{ . | relURL }}' />
{{- end -}}
{{- range .Site.Params.Assets.printCSS -}}
<link rel='stylesheet' media="print" href='{{ . | relURL }}' />
{{- end -}}
</head>
<body>
