<header>
    <div class="container">
        <h1 class="logo">
        {{ if eq .IsHome false }}
           <a href="{{ .Site.BaseURL }}"><span class="site-name">{{ .Site.Title }}</span></a> &ndash; {{ .Title }}
        {{ else }}
            <span class="site-name">{{ .Site.Title }}</span>
        {{ end }}
        </h1>

        <nav class="social-navigation">
            <ul>
            {{- range $platform, $username := .Site.Params.social -}}
            {{- if $username -}}
                <li><a class="level-item" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
                    <span class="hidden">{{ print $platform }}</span>
                    <span class="icon">
                        {{- partial "svg/icons" $platform -}}
                    </span>
                </a></li>
            {{- end -}}
            {{- end -}}
            </ul>
        </nav>
    </div>
</header>
